/* Tag Styling */
body{
  position: relative;
}


/* Class Styling */


/* ID Styling */
#about-div{
  position: relative;
  width: 300px;
}

/* Media Quiries (spelled that wrong)*/

/* section Styling */
#section-about{
  width: 500px;
  overflow: hidden;
}

