body{
	width: 100%;
}

/* Changes the width of the section */
<<<<<<< HEAD
section{
  width: 100%;
=======
#section-about{
  width:100%;
  float: center;
  display: inline;
>>>>>>> added some stuff and trying to fix the margin in the pictures
}

/*updates the about div */
#about{
  width: 25%;
  float: left;
  display: inline;
}

/* the first div was different than the others so had to add some padding */
.media-brittany{
  padding: 10px, 10px, 0px, 0px;
}
.media-marcus {
  
}
.media-jake {

}
.media-nick {

}


/* carousel */
.div-carousel-caption{
	background-color: #d1d1d1;
	opacity: 50%;

}

#carousel-container{
	margin: auto;
	margin-bottom: 500px;
}

.picture{
	width: auto !important;
	height: auto !important;
	max-height: 600px;
	max-width: 600px;
}
/* end carousel */

/* nav */
nav{
	background-color: #91b5ff;
	width: 100%;
	border-radius: 1em;
}

nav ul{
	width: 100%;
	position: relative;
	margin: 15px 0 15px 0;
	padding: 5px 0 5px 0;
}

nav ul ul{
	display: none;
	position: absolute;
	z-index: 2;
}

nav ul:after{
	content: ""; 
	clear: both; 
	display: block;
}

nav ul li{
/*	padding: 0 20px;*/
	list-style: none;
	display: inline-table; /* TODO: no px */
}

nav li:hover{
	background-color: #b1a5ff;
}

nav ul li:hover > ul{
	display: block;
}

nav > ul > li{
	width: 33.3333333333%;
	text-align: center;
	float: left;
/*	margin: 10px 25px 10px 25px;*/
}

/* end nav */